/* Fonts
font-family: 'Philosopher', sans-serif;
font-family: 'Muli', sans-serif; 
font-family: 'Merriweather', serif*/
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Muli', sans-serif;
}

main {
  text-align: center;
  /* font-size: 18px; */
}

.desktop-nav {
  display: none;
}

header {  
  margin-bottom: 0;
  font-family: 'Philosopher', sans-serif;
}

.headshot {
  display: none;
}

.intro-text {
  color: white;
  text-shadow: 5px 5px 8px black;
  text-align: center;
}

section {
  background-color: white;
  min-height: 100px;
}

.project-photo {
  width: 80%;
  box-shadow:5px 5px 10px black;
}

.project-divider {
  background-color: rgb(46, 46, 46);
  height: 3px;
}

.project-description {
  text-align: center;
}

.divider-text {
  font-family: 'Philosopher', sans-serif;
}

.mobile, .desktop {
  text-decoration: none;
  color: lightgray;
  margin-left: 20px;
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  text-shadow: 5px 5px 8px black;
}

.about:hover {
  color: #BEFCFC;
}

.projects:hover, .projects-title {
  color: #FBA080;
}

.abilities:hover, .abilities-title {
  color: #FBB980;
}

.contact:hover, .contact-title {
  color: #EBFBFF;
}

h2, p, h1, h3, ul{
  margin: 0;
}

h1 {
  padding-bottom: 20px;
  margin-top: 160px;
  font-size: 16vw;
}

h2 {
  font-size: 50px;
  margin-top: 70px;
  padding: 10px;
  color: white;
  text-shadow: 5px 5px 8px black;
}

h3 {
  font-size: 23px;
  padding: 10px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  padding-top: 5px;
  padding-bottom: 10px
}

li, p {
  font-size: 16px;
  line-height: 24px;
}

p {
  margin-right: 20px;
  margin-left: 20px;
  text-align: left;
  padding-bottom: 10px;
}

.headline {
  font-size: 11vw;
}

.img1 {
  background-image: 
  url('./img/bottom-chevron.svg'),
    url('./img/img1.png');
  background-position: 
    top center,
    bottom center;
  min-height: 600px;
}

.img2 {
  background-image: 
  url('./img/bottom-chevron.svg'),
  url('./img/img2.png');
  background-position:
    bottom center,
    top center;
  /* min-height: 350px; */
  height: 300px; 
}

.img3 {
  background-image:   
    url('./img/bottom-chevron.svg'),
    url('./img/img3.png');
  background-position:
    bottom center,
    top center;
  /* min-height: 150px; */
  height: 300px;
}

.img4 {
  background-image: url('./img/bottom-chevron.svg'),
  url('./img/img4.png');
  background-position:
    bottom center,
    top center;
  height: 300px;
  /* min-height: 150px; */
}

.img1, .img2, .img3, .img4 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  display: flex;
  justify-content: center;
}

.bio-opener {
  font-size: 5vw;
  line-height: 1.3em;
  font-style: italic;
  font-weight: bold;
  font-family: 'Merriweather', serif;
  text-align: center;
  margin-bottom: 10px;
}

.extra-bio {
  display: none;
}

.bio-paragraphs {
  margin-bottom: 20px;
}

.project-links {
  margin-bottom: 10px;
}

.live-text {
  color: black;
  font-size: 20px;
}

.devicon-github-plain-wordmark {
  text-decoration: none;
  font-size: 35px;
}

.project-links a {
  text-decoration: none;
}

.project-links a:hover {
  color: #FBA080;
}

.technology-badges {
  margin-top: 10px;
  margin-bottom: 10px;
}

.abilities-flex-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.devicon-git-plain, 
.devicon-visualstudio-plain,
.devicon-html5-plain,
.devicon-css3-plain,
.devicon-javascript-plain,
.devicon-jquery-plain,
.devicon-nodejs-plain,
.devicon-github-plain {
  font-size: 40px;
  margin-right: 5px;
  margin-left: 5px;
}

.skills-container ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 15px;
  margin-right: 15px;
}

.contact-flex-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.contact-flex-container a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  margin-left: 25%
}

.contact-flex-container a span {
  font-size: 20px;
  margin-left: 5px;
  padding-top: 5px;
  color: black;
}

.contact-flex-container a span:hover {
  color: #DAC4FF;
}

.contact-icon {
  height: 35px;
  width: 35px;
}

.mobile-nav {
  background-color: rgb(46, 46, 46);
  height: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.mobile-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
}

.mobile-nav li a{
  font-size: 16px;
  margin-left: 0;
}

footer {
  background-color: rgb(46, 46, 46);
  color: white;
  text-align: center;
  padding: 5px;
  margin-bottom: 50px;
}

/* ---------------------MEDIA QUERIES---------------- */

@media (min-width: 550px) {

  .desktop-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .desktop-nav {
    display: inline;
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
    padding-right: 10px;
  }

  .mobile-nav {
    display: none;
  }

  .headshot {
    display: block;
    height: 100%;
    /* margin-top: 40px; */
    padding-top: 20px;
    padding-left: 40px;
    width: 350px;
  }

  .intro-flex-container {
    display: flex;
    flex-direction: column;
  }

  .headshot-container {
    display: flex;
    flex-direction: row;
  }

  .bio-paragraphs {
    display: flex;
    flex-direction: row;
  }

  .bio1 {
    width: 50%;

  }

  .bio2 {
    border-left: solid 2px rgb(46, 46, 46);
    width: 50%;
  }

  .bio-opener {
    margin: 20px;
    padding-top: 15%;
    font-size: 25px;
  }

  .extra-bio {
    display: block;
  }

  .intro-flex-container h3 {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .bio {
    padding-top: 20px;
    width: 50%;
    text-align: left;
  }

  .project-photo {
    order: -1;
    width: 40%;
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 10px;
  }

  .technology-badges {
    padding-bottom: 20px;
  }

  .abilities-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
  }

  /* .contact-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px 10px;
    flex-wrap: wrap;
  } */

  main {
    font-size: 20px;
  }
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 27px;
  }

  .headline {
    font-size: 50px;
  }

  .img1 {
    background-attachment: scroll,
    fixed;
  } 
  
  .img2, .img3, .img4 {
    background-attachment: scroll,  
    fixed;
  }

  footer {
    margin-bottom: 0px;
  }
}

@media (min-width: 1200px) {
  /* main {
    display: flex;
    justify-content: center;
    background-color: transparent;
  }

  .main-flex-container {
    width: 1200px;
  } */
}
